<a href="/">Home</a> |
<a href="/register">Register Donor</a> |
<a href="/search">Search Blood</a>
<hr>

<!DOCTYPE html>
<html>
<head>
    <title>Search Blood</title>
     <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h2>Search Blood Group</h2>

<form method="POST">

Blood Group:

<input type="text"
       name="blood_group">

<button type="submit">
Search
</button>

</form>

<hr>

{% for donor in donors %}

<p>
Name: {{ donor[1] }}
<br>
Gender: {{ donor[2] }}
<br>
Age: {{ donor[3] }}
<br>
Email: {{ donor[4] }}
<br>
District: {{ donor[5] }}
<br>
City: {{ donor[6] }}
<br>
Blood Group: {{ donor[7] }}
</p>

<hr>

{% endfor %}

</body>
</html>